<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WestpacDemoProject">
    <test name="WestpacUserStoryAcceptance" parallel="false">
        <parameter name="browser" value="chrome" />
       <classes>
            <class name="westpacTestCases.westpacUserStoryOneTests">
                <methods>
                    <include name="checkUserlandsOnHomePage"/>
                    <include name="checkUserNavigationToKiwiSaverCalculator"/>
                    <include name="VerifyAllHelpIconsPresent"/>
                    <include name="CheckAcceptanceCriteriaUserStory1"/>
                </methods>
            </class>
       </classes>
    </test>
    <test name="WestpacUserStoryTwo" parallel="false">
        <parameter name="browser" value="chrome" />
        <classes>
           <class name="westpacTestCases.westpacUserStoryTwoTests">
                <methods>
                    <include name="VerifyUserStoryTwoAcceptCriteriaOne"/>
                    <include name="VerifyUserStoryTwoAcceptCriteriaTwo"/>
                    <include name="VerifyUserStoryTwoAcceptCriteriaThree"/>
                </methods>
           </class>
        </classes>
    </test>
</suite>
