<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="XeroDemoProject">
    <parameter name="email" value="nadeem.shine@gmail.com" />
    <parameter name="pwd" value="!!@!@!!" />
    <test name="HomePageTests" parallel="false">
        <classes>
            <class name="xeroTestCases.verifyXeroDemoTests">
                <methods>
                    <include name="checkUserlandsOnHomePage"/>
                    <include name="CheckLoginButtonOnHomePage"/>
                    <include name="VerifyValidLoginToXero"/>
                    <include name="VerifyCompanyRegistration"/>
                    <include name="VerifyAccountSetup"/>
                    <include name="VerifyLogoutWorks"/>
                </methods>
            </class>
            <!--
            <class name="xeroTestCases.verifyXeroFreeRegistrationTests">
                <methods>
                    <exclude name="VerifyXeroFreeRegistration"/>
                </methods>
            </class> -->
        </classes>
    </test>
</suite>